# Python
*.pyc
__pycache__/

# Managed folders
apks/
base_apks/
split_apks/
plugin_libs/
lib/

# Runtime data
cosmog_zips/
cosmog_updates/
downloads/
device_configs/
update/

# User data
known_devices.json

# Binaries
c
c.backup
.codex

# Git
.git/

# Docker
Dockerfile
docker-compose.yml
docker-entrypoint.sh
.dockerignore
